@model DrinkCatalog.Data.Models.ViewModels.DrinkVM

<div class="card-header bg-info-subtle py-3">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-dark py-2">Обновить напиток</h2>
        </div>
    </div>
</div>

<h2 class="text-center my-4">@ViewData["Title"]</h2>

<div class="card shadow-sm p-4">
    <form asp-action="EditDrink" method="post" enctype="multipart/form-data">
        <input asp-for="Drink.DrinkId" type="hidden" />
        <input asp-for="Drink.ImageUrl" type="hidden" />

        <div class="row mb-4">
            <div class="col-md-4 d-flex justify-content-center">
                <img src="@Model.Drink.ImageUrl" class="img-fluid rounded shadow-sm" alt="Drink Image" />
            </div>
            <div class="col-md-8">
                <div class="mb-3">
                    <label asp-for="Drink.Name" class="form-label fw-bold text-dark"></label>
                    <input asp-for="Drink.Name" class="form-control shadow-sm" placeholder="Enter drink name" />
                    <span asp-validation-for="Drink.Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Drink.Price" class="form-label fw-bold text-dark"></label>
                    <input asp-for="Drink.Price" class="form-control shadow-sm" placeholder="Enter price" />
                    <span asp-validation-for="Drink.Price" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Drink.Quantity" class="form-label fw-bold text-dark"></label>
                    <input asp-for="Drink.Quantity" class="form-control shadow-sm" placeholder="Enter quantity" />
                    <span asp-validation-for="Drink.Quantity" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Drink.BrandId" class="form-label fw-bold text-dark"></label>
                    <select asp-for="Drink.BrandId" asp-items="@Model.BrandList" class="form-select shadow-sm">
                        <option disabled selected>--Select Brand--</option>
                    </select>
                    <span asp-validation-for="Drink.BrandId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Drink.ImageUrl" class="form-label fw-bold text-dark"></label>
                    <input type="file" name="file" class="form-control shadow-sm" />
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between">
                <a asp-controller="Drink" asp-action="Index" class="btn btn-warning w-75 shadow-sm">Назад</a>
                <button type="submit" class="btn btn-success w-75 shadow-sm">Обновить</button>
        </div>
    </form>
</div>
